body{
  font-family: Helvetica, verdana, sans-serif;
  color: #888888;
}
table{
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
  border-color: #cec2a4;
  color: #342e2a;
}
td{
  border-color:#cec2a4;
}
th{
  background: #cec2a4;
  border-color: #cec2a4;
}
button{
  background-color: #f38e38;
  border: #4e9e74;
  padding: 5px 10px;
}
button:hover{
  background-color: #fbb070;
  border: #4e9e74;
}
img{
  width: 150px;
  height: 150px;
}
#header{
  background-color: #007399;
  overflow: hidden;
  color: white;
  text-align: center 
}
#content{
  background-color: white;
  padding: 30px;
  text-align: justify;
  line-height: 24px;
}
#footer{
  background-color: #42a4b4;
  color: #342e2a;
  overflow: hidden;
  clear: both;
  text-align: center;
}